* {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	align-items: center;
	max-width: 700px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	height: 15vh;
	background-color: grey;
	background-image: url("images/banner.jpg");
	background-size: cover;
}


div[id^='btn'] {
	border-radius: 15px;
	width: 170px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 26px;
}

div#btn1 {
	background-color: purple;
	color: pink;
	margin-left: -20px;
}

div#btn2 {
	background-color: midnightblue;
	color: lightblue;
	margin-right: -40px;
}

div.info-container {

	background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);;
	height: 35vh;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 15px;
	position: relative;
	border: 3px purple double;
	box-shadow: purple 3px 5px;
}

div.bio-container {

	background: linear-gradient(to top right, #EF8D9C 40%, #FFC39E 100%);;
	height: 35vh;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 15px;
	position: relative;
	border: 3px purple double;
	box-shadow: purple 3px 5px;
	padding: 15px;
}


div.info-container > img {
	display: block;
	width: 125px;
	border-radius: 15px;
}

div.info-container > table {
	position: absolute;
	top: 130px;
	left: 10px;
}

div#gallery {
	column-count: 2;
	column-gap: 10px;
	margin-top: 10px;
	

}

div.item {
	margin: 15px;

}

img {
	display: block;
	width: 100%;
	border-radius: 15px;
	border: 3px purple double;
	box-shadow: purple 3px 5px;
}

#fullpage {
  display: none;
  position: fixed;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;
 	top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

a {
	text-decoration: none;
}

div#slideshow {
	overflow: hidden;
	width: 300px;
			margin: 0 auto;
			border: double 6px purple;
			border-radius: 15px;
			box-shadow: 0 0 15px 15px;
		}

		div.slide-wrapper {
			width: calc(300px * 5);
			animation: slide 25s ease infinite;
		}

		div.slide {
			float: left;
			height: 300px;
			width: 300px;
		}

.slide > img {
		
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 15px;
		}

		@keyframes slide {
			20% {
				margin-left: 0px;
			}
			40% {
				margin-left: calc(-300px *1);
			}
			50% {
				margin-left: calc(-300px *1);
			}
			60% {
				margin-left: calc(-300px * 2);
			}
			80% {
				margin-left: calc(-300px * 2);
			}
			90% {
				margin-left: calc(-300px * 3);
			}
			100% {
				margin-left: calc(-300px * 3);
			}
		}

table, th, td {
	border: 1px solid black;
}


@media (min-width: 768px) {
	div#gallery {
		column-count: 3;
	}
}